Skip to content
 
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 @robdale110 Sign out
808
17,725 3,608 hashicorp/vagrant
 Code  Issues 352  Pull requests 21  Projects 1  Wiki  Insights
vagrant/.gitignore
bab9403  on 28 Feb
@chrisroberts chrisroberts Add a custom path location to ignore
@mitchellh @johnbender @chrisroberts @zmt @robkinyon @miketheman @ebelew @bpo @briancain
     
53 lines (43 sloc)  527 Bytes
# OS-specific
.DS_Store

# Editor swapfiles
.*.sw?
*~

# Vagrant stuff
acceptance_config.yml
boxes/*
/.vagrant
/website/.vagrant
/website/build
/vagrant-spec.config.rb
test/vagrant-spec/.vagrant/

# Bundler/Rubygems
*.gem
.bundle
pkg/*
tags
/Gemfile.lock
test/tmp/
vendor/
/exec
.ruby-bundle

# Documentation
_site/*
.yardoc/
doc/

# Python
*.pyc

# Rubinius
*.rbc

# IDE junk
.idea/*
*.iml
.project

# Ruby Managers
.rbenv
.rbenv-gemsets
.ruby-gemset
.ruby-version
.rvmrc

# Box storage for spec
test/vagrant-spec/boxes/*.box
© 2018 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
Press h to open a hovercard with more details.